name: All Contributors

on:
  issue_comment:
    types: [created]

jobs:
  add-contributors:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Add or update contributors
        uses: sinchang/all-contributors-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
